* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 60px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.name{
  font-size: 25px;
}

.tourist div {
  justify-content: space-between;
  margin: 0 60px;
  font-size: 20px;
  display: flex;
  gap: 25px;
  line-height: 1.5;
}

li {
  max-width: 800px;
}

.tourist div img {
  height: 200px;
  width: 450px;
}

@media (max-width: 600px) {

  header h1 {
      font-size: 28px;
      text-align: center;
  }

  .tourist {
    padding: 10px;
  }

  .tourist div {
    display: flex;
    flex-direction: column;
  }

  .tourist img {
      width: 100%;
      height: auto;
  }

  ul {
      padding-left: 20px;
  }

  .name {
      font-size: 24px;
  }
}
